// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html {
    height: 100%;
}

.container {
    position: relative;
    min-width: 970px !important;
}

a:hover {
    cursor: pointer;
}

// BTNS
.btn-lg {
    font-weight: 600;
}

// FORM
.form-group {
  position: relative;
  margin-bottom: 30px;
}
.form-group .question {
  margin: 0;
  padding: 0;
  right: 23px;
  top: 12px;
}
.input-lg {
    font-weight: 600;
    font-size: 14px;
}
.radio input[type="radio"] {
    display: none;
}
.radio label {
    position: relative;
    padding-left: 25px;
}
.radio label:before {
    position: absolute;
    content: "";
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #0052cc;
    border-radius: 50%;
}
.radio label:after {
    position: absolute;
    content: "";
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: #0052cc;
    border: 1px solid #0052cc;
    border-radius: 50%;
    opacity: 0;
}
.radio input[type="radio"]:checked + label:after {
    opacity: 1;
}

.checkbox input[type="checkbox"] {
    display: none;
}
.checkbox label {
    position: relative;
}
.checkbox label:before {
    position: absolute;
    content: "";
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #0052cc;
    border-radius: 3px;
}
.checkbox label:after {
    position: absolute;
    content: "";
    top: 6px;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: #0052cc;
    opacity: 0;
}
.checkbox input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

// HELPERS
.line {
    width: 200px;
    height: 5px;
    display: block;
    margin: 30px auto;
    background-color: #0052cc;
}

// MESSAGES
.toasted-container.top-right {
  top: 20px !important;
  right: 30px !important;
}

// ICONS
.icon {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: -3px
}
.icon:before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image:  url('../img/icones.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}
.icon-buscar {
}
.icon-buscar:before {
    background-position: 0 0;
}
.icon-encontrar:before {
    background-position:  -40px 0;
}
.icon-mensagens:before {
    background-position: -80px 0;
}
.icon-sexo:before {
    background-position: -120px 0;
}
.icon-cama:before {
    background-position: -160px 0;
}
.icon-dinheiro:before {
    background-position: 0 -40px;
}
.icon-map-marker:before {
    background-position: -40px -40px;
}
.icon-user:before {
    background-position: -80px -40px;
}
.icon-mobile:before {
    background-position: -120px -40px;
}
.icon-whatsapp:before {
    background-position: -160px -40px;
}
