// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html {
  height: 100%;
}

.container {
  min-width: 970px !important;
}

a:hover {
  cursor: pointer;
}
